<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  
  <body>
    <div class="container">
      <i class="fas fa-car"></i>
      <h1>CreateCar Page</h1>
      <p>Create car</p>
      <%- include('partials/navbar') %>

      <form method="post">
        CarNo <input type="text" name="carno" /> <br>
        Colour <input type="text" name="colour" /> <br>
        Maker <input type="text" name="make" /> <br>
        Model <input type="text" name="model" /> <br> 
        Owner <input type="text" name="owner" /> <br>
        <button type="submit" class="btn btn-warning">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
