<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head')  %>
  </head>

  <body>
    <div class="container">
      <i class="fas fa-smile"></i>
      <h1>Welcome!</h1>
      <p>Select A Nextpage</p>
      <%- include('partials/navbar')  %>
    </div>
  </body>
</html>